<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppleDoc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>KosherCocoa copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>KosherCocoa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>KosherCocoaTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>KosherCocoaWithDocs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>46130DB81BF52DF6001D19FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4618BB841664216E00AD3CE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4618BB951664216F00AD3CE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4618ECE41BF449EF00C33159</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4618ECED1BF449EF00C33159</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>464EF2FF1922E5CE005396A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>464EF3221922E6FD005396A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4671CBA61B576BC000A956E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>467F6A8C1BE40B5500570ECC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46A8273B1922E5720041635F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
